<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">

<head>
  <title th:text="#{bills.breadcrumb}"></title>
</head>

<th:block layout:fragment="content">

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title" th:text = "#{bills.breadcrumb}"></h4>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" id="breadcrumb">
            <li class="breadcrumb-item"><a th:text = "#{global.breadcrumb.main}"></a></li>
          </ol>
        </nav>
      </div>
      <div class="card-body px-0">
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header d-flex">
        <div class="col text-end">
          <button onclick="clearInput()" type="button" class="btn btn-light" style="height: 40px"
                  th:text="#{bills.clear_input}"></button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered link-row" id="bills-table"
               style="margin-top: 15px; max-width: 100%">
          <thead>
          <tr>
            <th>№</th>
            <th th:text="#{bills.date}"></th>
            <th th:text="#{bills.status}"></th>
            <th th:text="#{bills.paid}"></th>
            <th th:text="#{bills.sum}"></th>
          </tr>
          <tr id="search">
            <th>
              <input class="form-control" type="text" id="number">
            </th>
            <th>
              <div class="input-group">
                <input class="form-control" id="date" type="date">
                <button class="input-group-text input-button pointer-event" disabled>
                  <svg width="24" class="icon-24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                       stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                  </svg>
                </button>
              </div>
            </th>
            <th>
              <select id="status" class="mb-1 form-select form-select"
                      aria-label=".form-select-lg example" style="width: 160px; height: 40px">
                <option value=""></option>
              </select>
            </th>
            <th>
              <input class="form-control" type="text" id="payed">
            </th>
            <th>
              <input class="form-control" type="text" id="sum">
            </th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="row" style="display: flex; justify-content: space-between">
        </div>
      </div>
    </div>
  </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

  <!-- put extra modals here for only this page -->

</th:block>

<th:block layout:fragment="extra-script">

  <script>
    let billRequest = {};
    billRequest.pageIndex = 0;
    let filterTimeout;

    $(document).ready(function () {
      if (new URL(window.location.href).pathname.split("/").pop() !== 'bills'){
        billRequest.apartmentIdQuery = new URL(window.location.href).pathname.split("-").pop();
        getApartment(billRequest.apartmentIdQuery);
      }else {
        $("#breadcrumb").append(addBreadcrumbTitle('[[#{bills.breadcrumb}]]'));
      }
      getAllBill();
      $(document.body).on("click", "tr", function (e) {
          const href = $(this).data('href');
          if (href) {
            window.location.href = href;
          }
      });
    });

    $('#number, #date, #payed, #sum').on('input', function () {
      clearTimeout(filterTimeout);
      filterTimeout = setTimeout(function () {
        updateBillRequestAndSend();
      }, 1000);
    });

    $('#status').on('select2:select', function () {
      updateBillRequestAndSend();
    });

    function getApartment(id) {
      $.ajax({
        method: "GET",
        url: "/cabinet/get-apartment-" + id,
        contentType: 'application/json',
      }).done(function (response) {
        console.info(response)
        $("#breadcrumb").append(addBreadcrumbTitle('[[#{bills.breadcrumb}]] - ' + response?.fullName));
      });
    }

    function getAllBill() {
      $.ajax({
        method: "POST",
        url: "/cabinet/get-bills",
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(billRequest)
      }).done(function (response) {
        console.info(response)
        const TABLE_BODY = createTable('#bills-table', response?.totalElements, response?.totalPages, billRequest?.pageIndex);
        $.each(response?.content, function (index, bill) {
          $(TABLE_BODY).append(
                  '<tr  data-href="/cabinet/bill-' + bill.id + '" data-key="' + bill.id + '">' +
                  '    <td>' + bill?.number + '</td>' +
                  '    <td>' + bill?.createAt + '</td>' +
                  '    <td class="h5">' + addBadgeBillStatus(bill?.status) + '</td>' +
                  '    <td>' + bill?.payed.toFixed(2) + '</td>' +
                  '    <td>' + bill?.totalPrice.toFixed(2) + '</td>' +
                  '</tr>'
          );
        });
      });

      function createTable(tableSelector, itemsCount, pagesCount, pageIndex) {
        const TABLE_DIV = $(tableSelector);
        const TABLE_HEAD = $(TABLE_DIV).find('thead');
        const TABLE_BODY = $(TABLE_DIV).find('tbody');
        const TABLE_COLUMNS_COUNT = $(TABLE_HEAD).find('th').length;
        const TABLE_PAGINATION_ROW = $(TABLE_DIV).parents('div.card').find('div.card-footer').find('div.row');

        $(TABLE_BODY).empty();
        $(TABLE_PAGINATION_ROW).empty();
        if (itemsCount <= 0) {
          $(TABLE_DIV).parents('div.card').find('div.card-footer').attr('hidden', true);
          $(TABLE_BODY).append(
                  '<tr>' +
                  '    <td colspan="' + TABLE_COLUMNS_COUNT + '" class="align-middle text-center no-data">' +
                  '[[#{table.empty}]]' +
                  '    </td>' +
                  '</tr>'
          );
        } else {
          $(TABLE_DIV).parents('div.card').find('div.card-footer').attr('hidden', false);
          createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount);
        }

        return TABLE_BODY;
      }

      function createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount) {
        const colDiv = '<div class="col-sm-12 col-md-6"></div>';
        const paginationList =
                '<ul class="pagination pagination-sm mb-0 justify-content-center justify-content-md-end align-items-center">' +
                '</ul>';
        const collapsedPageBtn =
                '   <li class="page-item">' +
                '       <a class="page-link disabled" role="button">...</a>' +
                '   </li>';
        pagesCount = Number(pagesCount);
        pageIndex = Number(pageIndex) + 1;
        itemsCount = Number(itemsCount);
        if (itemsCount > 0) {
          $(TABLE_PAGINATION_ROW).append(
                  $($(colDiv).addClass('pagination-info'))
                          .append('[[#{table.show.info.Showing}]] X-Y [[#{table.show.info.of}]] Z [[#{table.show.info.entries}]]'
                                  .replace('X', ((pageIndex - 1) * 10 + 1))
                                  .replace('Y', Math.min(pageIndex * 10, itemsCount))
                                  .replace('Z', itemsCount))
          );
        }

        $(TABLE_PAGINATION_ROW).append($(colDiv).append(paginationList));
        const paginationListPath = $(TABLE_PAGINATION_ROW).find('ul.pagination');

        // pagination logic
        if (pagesCount > 1) {
          if (pageIndex !== 1) {
            $(paginationListPath).append(createPrevNextPageBtn(false, true));
            $(paginationListPath).append(createPageBtn(1, false));
          } else {
            $(paginationListPath).append(createPrevNextPageBtn(true, true));
            $(paginationListPath).append(createPageBtn(1, true));
          }

          if (pagesCount > 7) {
            if (pageIndex >= 5) {
              $(paginationListPath).append(collapsedPageBtn);
            }

            let start;
            let finish;
            if (pageIndex < 5) {
              start = 2;
              finish = 5;
            } else if (pagesCount - pageIndex < 4) {
              start = pagesCount - 4;
              finish = pagesCount - 1;
            } else {
              start = pageIndex - 1;
              finish = pageIndex + 1;
            }
            for (let i = start; i <= finish; i++) {
              if (i > 1 && i <= pagesCount - 1) {
                if (pageIndex === i) {
                  $(paginationListPath).append(createPageBtn(i, true));
                } else {
                  $(paginationListPath).append(createPageBtn(i, false));
                }
              }
            }

            if (pagesCount - pageIndex >= 4) {
              $(paginationListPath).append(collapsedPageBtn);
            }
          } else {
            for (let i = 2; i <= pagesCount - 1; i++) {
              if (pageIndex === i) {
                $(paginationListPath).append(createPageBtn(i, true));
              } else {
                $(paginationListPath).append(createPageBtn(i, false));
              }
            }
          }

          if (pageIndex !== pagesCount) {
            $(paginationListPath).append(createPageBtn(pagesCount, false));
            $(paginationListPath).append(createPrevNextPageBtn(false, false));
          } else {
            $(paginationListPath).append(createPageBtn(pagesCount, true));
            $(paginationListPath).append(createPrevNextPageBtn(true, false));
          }
        }
        // end of pagination logic
      }

      //  Create Next previous triangle Btn
      function createPrevNextPageBtn(isDisabled, isPrev) {
        return '' +
                '   <li class="page-item ' + (isPrev ? 'prev' : 'next') + (isDisabled ? ' disabled' : '') + '">' +
                '       <a class="page-link" role="button">' +
                (isPrev ? '<span aria-hidden="true">❮</span>' : '<span aria-hidden="true">❯</span>') +
                '       </a>' +
                '   </li>';
      }

      //  Create Pagination Btn
      function createPageBtn(pageNumber, isActive) {
        return '' +
                '<li class="page-item ' + (isActive ? 'active' : '') + '">' +
                '   <a class="page-link" role="button">' + pageNumber + '</a>' +
                '</li>';
      }


    }

    function clearInput() {
      $('#search td select').val('').trigger('change');
      $('#search td select option').remove();
      $('#search input').val('');
      updateBillRequestAndSend();
      showToast('success');
    }

    function updateBillRequestAndSend() {
      billRequest.numberQuery = $('#number').val();
      billRequest.dateQuery = $('#date').val();
      if ($('#status').val() !== '') {
        billRequest.statusQuery = $('#status').val();
      }
      billRequest.payedQuery = $('#payed').val();
      billRequest.priceQuery = $('#sum').val();
      console.log(billRequest)
      billRequest.pageIndex = 0;
      getAllBill();
    }

    const date_flatpickr = document.querySelectorAll('#date');
    Array.from(date_flatpickr, (elem) => {
      if (typeof flatpickr !== typeof undefined) {
        flatpickr(elem, {
          minDate: "01.01.2014",
          dateFormat: "d.m.Y"
        })
      }
    })

  </script>

</th:block>

</html>