<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout}">

<head>
  <title th:text = "#{bills.card.breadcrumb}"></title>
  <link rel="stylesheet" th:href="@{/assets/css/chat.css}"/>
  <style>
    .chat-scrollbar::-webkit-scrollbar {
      width: 10px;
    }

    .chat-scrollbar::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }
  </style>
</head>

<th:block layout:fragment="content">

    <div class="container py-5 " >

      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-12 col-xl-12">

          <div class="card" id="chat2">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
              <h5 class="mb-0">Chat</h5>
            </div>
            <div class="card-body table-responsive chat-scrollbar" data-mdb-perfect-scrollbar="true" style="max-height: 500px" id="chat-frame">

            </div>
            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
              <textarea class="form-control" id="message"
                        placeholder="Type message" style="resize: none; margin-left:10px; margin-right: 10px"></textarea>
              <div>

                <input type="file" id="fileInput" style="display: none;" accept=".jpg, .png, .jpeg">
                  <button class="btn btn-sm btn-icon text-gray" onclick="openFileInput()" id="imgButton">
                      <span class="btn-inner">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4z"/></svg>
                      </span>
                  </button>
              </div>
              <div style="margin-left: 10px">
                <button class="btn btn-sm btn-icon text-gray flex-end disabled" onclick="sendMessage()" id="messageButton">
                                        <span class="btn-inner">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376V479.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z"/></svg>
                                        </span>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

  <div class="modal fade" id="fileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteUserLabel" th:text="#{chat.modal.title}"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: grey"></button>
        </div>
        <div class="modal-body">
          <div style="display: flex; justify-content: center">
            <img class="error-photo" alt="user-card img" th:src="@{/assets/images/default.jpg}" id="newFile" style=" height: 100%; width: 100%">
          </div>
          <script>
            fileInput.onchange = evt => {
              const [file] = fileInput.files
              if (file) {
                newFile.src = URL.createObjectURL(file)
              }
            }
          </script>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" onclick="sendFile()">
                                        <span class="btn-inner">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="white" d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376V479.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z"/></svg>
                                        </span>
          </button>
        </div>
      </div>
    </div>
  </div>

</th:block>

<th:block layout:fragment="extra-script">
  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script>

  const stompClient = new StompJs.Client({
    brokerURL: 'ws://localhost:8082/myhouse24-amirb-nikitaf/cabinet/ws'
  });
  function openModal(){
    var fileModal = document.getElementById("fileInput");
    fileModal.addEventListener("change", function () {
      $('#fileModal').modal('show');
    })



  }

  function sendFile(){
    var file = document.getElementById("fileInput");
    var formData = new FormData();
    formData.append("id", [[${id}]]);
    formData.append("file",file.files[0]);

    $.ajax({
      method: "POST",
      url: "/myhouse24-amirb-nikitaf/cabinet/chat/send-file",
      contentType: false,
      processData: false,
      data: formData
    })
            .done(function (){
              $('#fileModal').modal('hide');
              stompClient.publish({
                destination: "/app/main",
                body: JSON.stringify("")
              });
            })

  }

  function sendMessage(){
    var text = document.getElementById("message");
    var formData = new FormData();
    formData.append("id", [[${id}]]);
    formData.append("message",text.value);

    var jsonData = {};
    formData.forEach((value, key) => {
      jsonData[key] = value;
    });

    $.ajax({
      method: "POST",
      url: "/myhouse24-amirb-nikitaf/cabinet/chat/send-message",
      contentType: 'application/json',
      data: JSON.stringify(jsonData)
    })
            .done(function (){
              text.value = null;
              var cardBody = document.getElementById("imgButton");
              cardBody.classList.remove("d-none");
              stompClient.publish({
                destination: "/app/main",
                body: JSON.stringify("")
              });
            })

  }
  function openFileInput() {
    var fileInput = document.getElementById("fileInput");
    fileInput.click();
  }
  function blockImg(){
    var message = document.getElementById("message");
    message.addEventListener("input", function (){
      if (message.value.length>0){
        var cardBody = document.getElementById("imgButton");
        cardBody.classList.add("d-none");

        var messageButton = document.getElementById("messageButton");
        messageButton.classList.remove("disabled");
      }
      else {
        var cardBody = document.getElementById("imgButton");
        cardBody.classList.remove("d-none");

        var messageButton = document.getElementById("messageButton");
        messageButton.classList.add("disabled");
      }
    })
  }

  function messages() {
    $.ajax({
      method: "GET",
      url: "/myhouse24-amirb-nikitaf/cabinet/chat/get-all-message-by-chat/" + [[${id}]]
    })
            .done(function (response) {
              $.each(response, function (index, entity) {
                const container = document.getElementById("chat-frame");
                const newDiv = document.createElement("div");
                newDiv.classList.add("d-flex")
                newDiv.classList.add("flex-row")
                if (entity.userId === [[${currentUserId}]]) {
                  newDiv.classList.add("justify-content-end")
                  newDiv.classList.add("mb-4")
                  let message = "";
                  if (entity.type === "TEXT") {
                    message += "<div><p class=\"small p-2 ms-3 mb-1 rounded-3 bg-primary text-white\">" + entity.message + "</p>\n"
                  } else if (entity.type === "IMG") {
                    message += "<div>" +
                            "<div class='p-2 me-3 mb-1 text-white rounded-3 bg-primary'>" +
                            "                  <img class='error-photo' src='/myhouse24-amirb-nikitaf/cabinet/files/" + entity.message + "'\n" +
                            "                       alt=\"avatar 1\" style=\"max-width: 200px; height: 100%;\">\n </div>"
                  }
                  else if (entity.type === "FILE"){
                    message += "<div>" +
                            "<div class='p-2 me-3 mb-1 text-white rounded-3 bg-primary' style='display: flex'>" +
                            "                  <img src='/myhouse24-amirb-nikitaf/cabinet/assets/images/document.png'\n" +
                            "                       alt=\"avatar 1\" style=\"max-width: 50px; height: 100%; margin-right: 10px \">\n " +
                            "                    <a style='display: flex;align-items: center' href=\"/myhouse24-amirb-nikitaf/cabinet/files/"+entity.message+"\" download=\""+entity.filename+"\"><div style='display: flex; align-items: center;' class='text-white'>"+entity.filename+"</div></a>\n" +
                            "</div>"

                  }
                  message += "                  <p class=\"small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end\">" + entity.time + "</p>\n" +
                          "                </div>" +
                          "<div>\n" +
                          "                  <div style='display: flex; justify-content: center'>\n" +
                          "                    <img class='error-photo avatar-rounded' src='/myhouse24-amirb-nikitaf/cabinet/files/" + entity.userAvatar + "'" +
                          "                         alt=\"avatar 1\" style=\"width: 45px; height: 100%;\" id='chatAvatar" + index + "' onerror='errorPhoto(this)'>\n" +
                          "                  </div>\n" +
                          "                    <p>" + entity.userName + "</p>\n" +
                          "                </div>\n"
                  newDiv.innerHTML = message;
                  container.appendChild(newDiv);
                } else {
                  newDiv.classList.add("justify-content-start")
                  let message = "<div>\n" +
                          "                  <div>\n" +
                          "                    <img class='error-photo avatar-rounded' src='/myhouse24-amirb-nikitaf/cabinet/files/" + entity.userAvatar + "'" +
                          "                         alt=\"avatar 1\" style=\"width: 45px; height: 100%;\" id='chatAvatar" + index + "' onerror='errorPhoto(this)'>\n" +
                          "                  </div>\n" +
                          "                    <p>" + entity.userName + "</p>\n" +
                          "                </div>\n";
                  if (entity.type === "TEXT") {
                    message += "<div>" +
                            "<p class=\"small p-2 ms-3 mb-1 rounded-3 bg-light text-dark\">" + entity.message + "</p>\n"
                  } else if (entity.type === "IMG") {
                    message += "<div>" +
                            "<div class='p-2 ms-3 mb-1 rounded-3 bg-light text-dark'>" +
                            "                  <img class='error-photo' src='/myhouse24-amirb-nikitaf/cabinet/files/" + entity.message + "'\n" +
                            "                       alt=\"avatar 1\" style=\"max-width: 200px; height: 100%;\">\n</div>"
                  }
                  else if (entity.type === "FILE") {
                    message += "<div>" +
                            "<div class='p-2 ms-3 mb-1 rounded-3 bg-light text-dark' style='display: flex'>" +
                            "                  <img src='/myhouse24-amirb-nikitaf/cabinet/assets/images/document.png'\n" +
                            "                       alt=\"avatar 1\" style=\"max-width: 50px; height: 100%; margin-right: 10px \">\n " +
                            "                    <a style='display: flex;align-items: center' href=\"/myhouse24-amirb-nikitaf/cabinet/files/"+entity.message+"\" download=\""+entity.filename+"\"><div style='display: flex; align-items: center'>"+entity.filename+"</div></a>\n" +
                            "</div>"
                  }
                  message += "                  <p class=\"small ms-3 mb-3 rounded-3 text-muted\">" + entity.time + "</p>\n" +
                          "                </div>"
                  newDiv.innerHTML = message;
                  container.appendChild(newDiv);
                }




              })

              var $container = $('#chat-frame');
              $container.find('img').on('load', function() {
                $container[0].scrollTop = $container[0].scrollHeight;
              });
            })
  }



  $(document).ready(function (){
    openModal()
    blockImg();
    stompClient.activate()
    stompClient.onConnect = (frame) => {
      console.log('Connected: ' + frame);
      stompClient.subscribe('/topic/refresh', (greeting) => {
        messages();
      });
    };
    messages();




  });

</script>

</th:block>

</html>