<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="#{layout.title}"></title>
    <th:block th:replace="~{/user/fragments/style}"></th:block>
    <th:block layout:fragment="extra-style"></th:block>
</head>

<body class="  ">
<div id="loading">
    <div class="loader simple-loader">
        <div class="loader-body">
            <div style="display: flex; justify-content: center; height: 100%; align-items: center">
                <img th:src="@{/assets/images/pages/logo-mini.svg}" class="img-responsive animation_img"
                      alt=""
                      style="width: 200px;">
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{/user/fragments/left-sidebar}"></th:block>

<main class="main-content">

    <th:block th:replace="~{/user/fragments/toast}"></th:block>
    <th:block th:replace="~{/user/fragments/header}"></th:block>


    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
    <th:block layout:fragment="extra-alert"></th:block>

    <th:block th:replace="~{/user/fragments/footer}"></th:block>

    <th:block th:replace="~{/user/fragments/logout-modal}"></th:block>


    <th:block layout:fragment="extra-modals"></th:block>
</main>





<th:block th:replace="~{/user/fragments/script}"></th:block>


<th:block layout:fragment="extra-script"></th:block>

</body>
</html>

