<div class="modal fade" id="confirmLogOut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog vertical-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" th:text="#{logout.modal.title}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="#{logout.modal.body}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" th:text="#{global.modal.cancel}"></button>
                <a th:href="@{/logout}" class="btn btn-success" th:text="#{global.modal.confirm}"></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{global.modal.title}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="#{global.modal.description}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        th:text="#{global.modal.cancel}"></button>
                <button type="button" class="btn btn-success" onclick="deleteEntity()"
                        th:text="#{global.modal.confirm}"></button>
            </div>
        </div>
    </div>
</div>