<!-- Library Bundle Script -->
<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>

<script th:src="@{/assets/js/charts/dashboard.js}"></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<!-- AOS Animation Plugin-->
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>

<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

<!-- Flatpickr Script -->
<script th:src="@{/assets/vendor/flatpickr/dist/flatpickr.min.js}"></script>

<script th:src="@{/assets/js/plugins/flatpickr.js}" defer></script>

<script th:src="@{/assets/js/select2/select2.full.min.js}"></script>

<script th:src="@{/assets/js/select2/uk.js}"></script>

<script th:src="@{/assets/js/quill/quil.js}"></script>

<script th:src="@{/assets/js/quill/quill-image-resize.js}"></script>

<script th:src="@{/assets/js/flatpickr/flatpickr.js}"></script>

<script th:src="@{/assets/js/plugins/prism.mini.js}"></script>



<script>

    const targetElement = document.getElementById('sidebar');
    const logoImg = document.getElementById('logoImg');

    const observer = new MutationObserver((mutationsList) => {

        for (const mutation of mutationsList) {

            if (mutation.type === 'attributes' && mutation.attributeName === 'class') {

                const newClass = targetElement.className;
                if (newClass.indexOf('sidebar-mini') === 68 || newClass.indexOf('sidebar-mini') === 78){
                    logoImg.src = '/myhouse24-amirb-nikitaf/cabinet/assets/images/pages/logo-mini.svg';
                }
                else if (newClass.indexOf('sidebar-mini') === -1){
                    $.ajax({
                        url: "/myhouse24-amirb-nikitaf/cabinet/get-locale"
                    })
                        .done(function (response){
                            if (response === 'en') {
                                logoImg.src = '/myhouse24-amirb-nikitaf/cabinet/assets/images/pages/logo-en.png';
                            } else if (response === 'uk') {
                                logoImg.src = '/myhouse24-amirb-nikitaf/cabinet/assets/images/pages/logo-ua1.png';
                            }
                        });
                }

            }
        }
    });

    const config = { attributes: true };

    observer.observe(targetElement, config);


</script>
<script>


    function getCurrentURLWithoutParams() {

        var currentURL = window.location.href;
        if (currentURL.indexOf('?') === -1) {
            return currentURL;
        }
        return currentURL.split('?')[0];
    }

    function changeLang(lang) {
        var urlWithoutParams = getCurrentURLWithoutParams();
        var newURL = urlWithoutParams + '?lang=' + lang;
        window.location.replace(newURL);
    }

    function getLocale(){
        $.ajax({
            url: "/myhouse24-amirb-nikitaf/cabinet/get-locale"
        })
            .done(function (response){
                const logoImg = document.getElementById('logoImg');
                const container = document.getElementById("langDiv");
                const newImg = document.createElement("img");
                newImg.classList.add("img-fluid");
                newImg.classList.add("rounded-circle");
                newImg.style.height = "30px";
                newImg.style.width = "30px";
                newImg.style.minWidth = "30px";
                newImg.alt="lang";
                newImg.id = "langImg"
                if (response === 'en') {
                    newImg.src = '/myhouse24-amirb-nikitaf/cabinet/assets/images/Flag/flag001.png';
                    logoImg.src = '/myhouse24-amirb-nikitaf/cabinet/assets/images/pages/logo-en.png';
                } else if (response === 'uk') {
                    newImg.src  = '/myhouse24-amirb-nikitaf/cabinet/assets/images/Flag/flag002.png';
                    logoImg.src = '/myhouse24-amirb-nikitaf/cabinet/assets/images/pages/logo-ua1.png';
                }
                container.appendChild(newImg);
            });
    }
    getLocale();


    const toastSuccess = bootstrap.Toast.getOrCreateInstance(document.getElementById('successUpdateRole'));
    const toastError = bootstrap.Toast.getOrCreateInstance(document.getElementById('errorUpdateRole'));

    function showToast(toast) {
        switch (toast) {
            case "success":
                toastSuccess.show();
                break;
            case "error":
                toastError.show();
                break;
            default:
                console.log("Unknown Toast");
        }
    }
    function passwordVisibility() {
        var getPassword = document.getElementById("password");
        var confirmPassword = document.getElementById("confirmPassword");
        if (getPassword.type === "password") {
            getPassword.type = "text";
            confirmPassword.type = "text";
        } else {
            getPassword.type = "password";
            confirmPassword.type = "password";
        }
    }

    function passwordVisibilityForOneInput(id) {
        var getPassword = document.getElementById(id);
        if (getPassword.type === "password") {
            getPassword.type = "text";
        } else {
            getPassword.type = "password";
        }
    }

    function generatePassword() {
        var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$`~%^&*(*)ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var passwordLength = 11;
        var password = "";

        for (var i = 0; i <= passwordLength; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            password += chars.substring(randomNumber, randomNumber + 1);
        }
        document.getElementById("password").value = password;
        document.getElementById("confirmPassword").value = password;

    }

    function validResponse(divId, message, afterDiv) {

        $(divId).addClass('is-invalid');
        let validId = divId+'Valid';
        if (afterDiv) {
            $(divId).parents(afterDiv).append('<div class="invalid-feedback" id="'+validId+'">' + message + '</div>');
        } else {
            $(divId).after('<div class="invalid-feedback" id="'+validId+'">' + message + '</div>');
        }
    }

    function clearValidMessages() {
        $('.is-invalid').removeClass('is-invalid');
        $('.invalid-feedback').remove();
    }

    function clearSimpleValidMessages(id) {
        let validId = id +'Valid'
        $('#'+id).removeClass('is-invalid');
        $('#'+validId).remove();
    }


    function addBadgeUserStatus(status){

        let badgeClasses = 'badge rounded-pill';
        let badgeText = status?.value;

        if (status?.name === 'ACTIVE') badgeClasses += ' bg-success';
        if (status?.name === 'NEW') badgeClasses += ' bg-warning';
        if (status?.name === 'DISABLED') badgeClasses += ' bg-danger';

        return '<span class="' + badgeClasses + '">' + badgeText + '</span>';
    }

    function addBadgeApplicationStatus(status){

        let badgeClasses = 'badge rounded-pill';
        let badgeText = status?.value;

        if (status?.name === 'IN_PROCESS') badgeClasses += ' bg-warning';
        if (status?.name === 'NEW') badgeClasses += ' bg-primary';
        if (status?.name === 'COMPLETED') badgeClasses += ' bg-success';

        return '<span class="' + badgeClasses + '">' + badgeText + '</span>';
    }

    function addColorTextIncomeExpense(type){

        let badgeClasses = '';
        let badgeText = type?.value;

        if (type?.name === 'INCOME') badgeClasses += 'text-success';
        if (type?.name === 'EXPENSE') badgeClasses += 'text-danger';

        return '<span class="' + badgeClasses + '">' + badgeText + '</span>';
    }

    function addBreadcrumbTitle(title){
        return '<li class="breadcrumb-item">' + title + '</li>';
    }

    function addBadgeBillStatus(status){

        let badgeClasses = 'badge rounded-pill';
        let badgeText = status?.value;

        if (status?.name === 'PAID') badgeClasses += ' bg-success';
        if (status?.name === 'PARTLY_PAID') badgeClasses += ' bg-warning';
        if (status?.name === 'UNPAID') badgeClasses += ' bg-danger';

        return '<span class="' + badgeClasses + '">' + badgeText + '</span>';
    }

    function handleScreenWidthChange() {
        const screenWidth = window.innerWidth;
        if (screenWidth<1200){
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.add("sidebar-mini");
        }
    }
    window.addEventListener("resize", handleScreenWidthChange);
    handleScreenWidthChange();

    function setEditorContentFromHTML(html) {
        const delta = editor.clipboard.convert( html );
        editor.setContents(delta);
    }


    window.addEventListener('load', function() {
        var navLinks = document.querySelectorAll(".sidebar-active");
        var pathAndQuery = window.location.pathname + window.location.search;
        var pathSplit = pathAndQuery.split("/");
        var chapter = pathSplit[3];

        var ids = [];
        var idsSpecial = ["summary", "rate", "bill"];
        for (var i = 0; i < navLinks.length; i++) {
            ids.push(navLinks[i].id);
        }
        for (var i =0; i< ids.length; i++){

            if (chapter.includes(ids[i])){
                if (chapter === ids[i]) {
                    var targetLinks = document.getElementById(ids[i]);
                    targetLinks.classList.add("active");
                    for (let j = 0; j < idsSpecial.length; j++) {
                        if (ids[i].includes(idsSpecial[j])) {
                            var targetUlSite = document.getElementById("sidebar-" + idsSpecial[j]);
                            var linkElement = document.getElementById(idsSpecial[j] + '-a');
                            linkElement.setAttribute('aria-expanded', 'true');
                            targetUlSite.classList.add("show");
                        }
                    }
                }
                else if (!chapter.includes('summary') && !chapter.includes('rate') && !chapter.includes('bill')){
                    var targetLinks = document.getElementById(ids[i]);
                    targetLinks.classList.add("active");
                }
            }
        }
    });

    function addMeterReadingStatus(status){

        let badgeClasses = 'badge rounded-pill';
        let badgeText = status?.value;

        if (status?.name === 'NEW') badgeClasses += ' bg-warning';
        if (status?.name === 'ZERO') badgeClasses += ' bg-primary';
        if (status?.name === 'CONSIDERED') badgeClasses += ' bg-success';
        if (status?.name === 'CONSIDERED_PAID') badgeClasses += ' bg-success';

        return '<span class="' + badgeClasses + '">' + badgeText + '</span>';
    }


    function formatNumberWithZeroes(number, length) {
        const numString = number.toString();
        const diff = length - numString.length;

        if (diff > 0) {
            const zeroes = '0'.repeat(diff);
            return zeroes + numString;
        }

        return numString;
    }

    function changeTheme(checked){
        if (checked){
            const bodyElement = document.body;
            bodyElement.classList.remove("dark");
        }
        else {
            const bodyElement = document.body;
            bodyElement.classList.add("dark");
        }
    }

    const checkbox = document.getElementById('switchTheme');

    checkbox.addEventListener('change', function() {
        if (this.checked) {
            $.ajax({
                url: "/myhouse24-amirb-nikitaf/cabinet/change-theme",
                method: "POST",
                data:{
                    theme: true
                }
            })
            changeTheme(true);
        } else {
            $.ajax({
                url: "/myhouse24-amirb-nikitaf/cabinet/change-theme",
                method: "POST",
                data:{
                    theme: false
                }
            })
            changeTheme(false);
        }
    });

    $(document).ready ( function(){

        $.ajax({
            url: "/myhouse24-amirb-nikitaf/cabinet/messages/get-message-for-header"
        })
            .done(function(response) {
                console.log(response.length);
                    if (response.length>0) {
                        $("#countMessage").text(response.length)
                    }
                    else {
                        let summaryContainer = document.getElementById("containerNewMessage");
                        let newLi = document.createElement("a");
                        newLi.classList.add("iq-sub-card")
                        newLi.innerHTML = "<div class=\"d-flex align-items-center\" >\n" +
                            "            <div class=\"ms-3 text-center\" style='width: 100%'>\n" +
                            "                <h6>"+"[[#{table.empty}]]"+"</h6>\n" +
                            "            </div>\n" +
                            "        </div>"
                        summaryContainer.appendChild(newLi);
                    }
                        $.each(response, function (index, entity) {
                            let summaryContainer = document.getElementById("containerNewMessage");
                            let newLi = document.createElement("a");
                            newLi.classList.add("iq-sub-card")
                            newLi.href = "/myhouse24-amirb-nikitaf/cabinet/messages/message-card/"+entity.id
                            newLi.innerHTML = "<div class=\"d-flex align-items-center\" >\n" +
                                "            <div class=\"ms-3 d-flex justify-content-between\" style='width: 100%'>\n" +
                                "                <h6>"+entity.title+"</h6>\n" +
                                "                                <i class=\"icon\">\n" +
                                "                                    <svg class=\"icon-10\" xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" viewBox=\"0 0 24 24\" fill=\"currentColor\">\n" +
                                "                                        <g>\n" +
                                "                                            <circle cx=\"12\" cy=\"12\" r=\"8\" fill=\"currentColor\"></circle>\n" +
                                "                                        </g>\n" +
                                "                                    </svg>\n" +
                                "                                </i>\n" +
                                "            </div>\n" +
                                "        </div>"
                            summaryContainer.appendChild(newLi);

                        })

                })
            .fail(function (){
                window.location.href = '/myhouse24-amirb-nikitaf/cabinet/logout'
            });

        function getTheme() {
            $.ajax({
                url: "/myhouse24-amirb-nikitaf/cabinet/get-theme"
            })
                .done(function(response) {
                    const checkbox = document.getElementById('switchTheme');
                    if (response === null) {
                        checkbox.checked = true;
                        changeTheme(true);
                    } else {
                        checkbox.checked = response;
                        changeTheme(response);
                    }
                });
        }

        getTheme();


        $.ajax({
            url: "/myhouse24-amirb-nikitaf/cabinet/user/get-current-user"
        })
            .done(function(response) {

                $("#fullName-user").text(response.fullName)
                $("#header-avatar").attr("src", "/myhouse24-amirb-nikitaf/cabinet/files/"+response.filename)
                $.each(response.apartments, function (index, entity) {
                    let summaryContainer = document.getElementById("sidebar-summary");
                    let newLi = document.createElement("li");
                    newLi.classList.add("nav-item")
                    newLi.innerHTML = " <a class=\"nav-link site sidebar-active\" href=\"/myhouse24-amirb-nikitaf/cabinet/summary-" + entity.id + "\" id=\"summary-"+entity.id+"\">\n" +
                        "                                <i class=\"icon\">\n" +
                        "                                    <svg class=\"icon-10\" xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" viewBox=\"0 0 24 24\" fill=\"currentColor\">\n" +
                        "                                        <g>\n" +
                        "                                            <circle cx=\"12\" cy=\"12\" r=\"8\" fill=\"currentColor\"></circle>\n" +
                        "                                        </g>\n" +
                        "                                    </svg>\n" +
                        "                                </i>\n" +
                        "                                <i class=\"sidenav-mini-icon\">\n" +
                        "                                    <svg class=\"icon-10\" xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" viewBox=\"0 0 24 24\" fill=\"currentColor\">\n" +
                        "                                        <g>\n" +
                        "                                            <circle cx=\"12\" cy=\"12\" r=\"8\" fill=\"currentColor\"></circle>\n" +
                        "                                        </g>\n" +
                        "                                    </svg> </i>\n" +
                        "                                <span class=\"item-name\">"+entity.fullName+"</span>\n" +
                        "                            </a>"
                    summaryContainer.appendChild(newLi);
                });
            });

    });

    function createTableService(tableSelector, itemsCount) {
        const TABLE_DIV = $(tableSelector);
        const TABLE_HEAD = $(TABLE_DIV).find('thead');
        const TABLE_BODY = $(TABLE_DIV).find('tbody');
        const TABLE_COLUMNS_COUNT = $(TABLE_HEAD).find('th').length;

        $(TABLE_BODY).empty();
        if (itemsCount <= 0) {
            $(TABLE_BODY).append(
                '<tr>' +
                '    <td colspan="' + TABLE_COLUMNS_COUNT + '" class="align-middle text-center no-data">' +
                '[[#{table.empty}]]' +
                '    </td>' +
                '</tr>'
            );
        }

        return TABLE_BODY;
    }

    function createTable(tableSelector, itemsCount, pagesCount, pageIndex) {
        const TABLE_DIV = $(tableSelector);
        const TABLE_HEAD = $(TABLE_DIV).find('thead');
        const TABLE_BODY = $(TABLE_DIV).find('tbody');
        const TABLE_COLUMNS_COUNT = $(TABLE_HEAD).find('th').length;
        const TABLE_PAGINATION_ROW = $(TABLE_DIV).parents('div.card').find('div.card-footer').find('div.row');

        $(TABLE_BODY).empty();
        $(TABLE_PAGINATION_ROW).empty();
        if (itemsCount <= 0) {
            $(TABLE_DIV).parents('div.card').find('div.card-footer').attr('hidden', true);
            $(TABLE_BODY).append(
                '<tr>' +
                '    <td colspan="' + TABLE_COLUMNS_COUNT + '" class="align-middle text-center no-data">' +
                '[[#{table.empty}]]' +
                '    </td>' +
                '</tr>'
            );
        } else {
            $(TABLE_DIV).parents('div.card').find('div.card-footer').attr('hidden', false);
            createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount);
        }

        return TABLE_BODY;
    }

    function createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount) {
        const colDiv = '<div class="col-sm-12 col-md-6"></div>';
        const paginationList =
            '<ul class="pagination pagination-sm mb-0 justify-content-center justify-content-md-end align-items-center">' +
            '</ul>';
        const collapsedPageBtn =
            '   <li class="page-item">' +
            '       <a class="page-link disabled" role="button">...</a>' +
            '   </li>';
        pagesCount = Number(pagesCount);
        pageIndex = Number(pageIndex) + 1;
        itemsCount = Number(itemsCount);
        if (itemsCount > 0) {
            $(TABLE_PAGINATION_ROW).append(
                $($(colDiv).addClass('pagination-info'))
                    .append('[[#{table.show.info.Showing}]] X-Y [[#{table.show.info.of}]] Z [[#{table.show.info.entries}]]'
                        .replace('X', ((pageIndex - 1) * 10 + 1))
                        .replace('Y', Math.min(pageIndex * 10, itemsCount))
                        .replace('Z', itemsCount))
            );
        }

        $(TABLE_PAGINATION_ROW).append($(colDiv).append(paginationList));
        const paginationListPath = $(TABLE_PAGINATION_ROW).find('ul.pagination');

        // pagination logic
        if (pagesCount > 1) {
            if (pageIndex !== 1) {
                $(paginationListPath).append(createPrevNextPageBtn(false, true));
                $(paginationListPath).append(createPageBtn(1, false));
            } else {
                $(paginationListPath).append(createPrevNextPageBtn(true, true));
                $(paginationListPath).append(createPageBtn(1, true));
            }

            if (pagesCount > 7) {
                if (pageIndex >= 5) {
                    $(paginationListPath).append(collapsedPageBtn);
                }

                let start;
                let finish;
                if (pageIndex < 5) {
                    start = 2;
                    finish = 5;
                } else if (pagesCount - pageIndex < 4) {
                    start = pagesCount - 4;
                    finish = pagesCount - 1;
                } else {
                    start = pageIndex - 1;
                    finish = pageIndex + 1;
                }
                for (let i = start; i <= finish; i++) {
                    if (i > 1 && i <= pagesCount - 1) {
                        if (pageIndex === i) {
                            $(paginationListPath).append(createPageBtn(i, true));
                        } else {
                            $(paginationListPath).append(createPageBtn(i, false));
                        }
                    }
                }

                if (pagesCount - pageIndex >= 4) {
                    $(paginationListPath).append(collapsedPageBtn);
                }
            } else {
                for (let i = 2; i <= pagesCount - 1; i++) {
                    if (pageIndex === i) {
                        $(paginationListPath).append(createPageBtn(i, true));
                    } else {
                        $(paginationListPath).append(createPageBtn(i, false));
                    }
                }
            }

            if (pageIndex !== pagesCount) {
                $(paginationListPath).append(createPageBtn(pagesCount, false));
                $(paginationListPath).append(createPrevNextPageBtn(false, false));
            } else {
                $(paginationListPath).append(createPageBtn(pagesCount, true));
                $(paginationListPath).append(createPrevNextPageBtn(true, false));
            }
        }
        // end of pagination logic
    }

    //  Create Next previous triangle Btn
    function createPrevNextPageBtn(isDisabled, isPrev) {
        return '' +
            '   <li class="page-item ' + (isPrev ? 'prev' : 'next') + (isDisabled ? ' disabled' : '') + '">' +
            '       <a class="page-link" role="button">' +
            (isPrev ? '<span aria-hidden="true">❮</span>' : '<span aria-hidden="true">❯</span>') +
            '       </a>' +
            '   </li>';
    }

    //  Create Pagination Btn
    function createPageBtn(pageNumber, isActive) {
        return '' +
            '<li class="page-item ' + (isActive ? 'active' : '') + '">' +
            '   <a class="page-link" role="button">' + pageNumber + '</a>' +
            '</li>';
    }
</script>
<script>

    function errorPhoto(element){
        var fieldID = element.id;
        var photo = document.getElementById(fieldID);
        photo.src = "/myhouse24-amirb-nikitaf/cabinet/static/assets/images/default.jpg";
    }
    $(document).ready(function() {
        var errorImages = document.querySelectorAll(".error-photo");
        errorImages.forEach(function(image) {
            var testImage = new Image();
            testImage.src = image.src;
            testImage.addEventListener("error", function() {
                image.src = "/myhouse24-amirb-nikitaf/cabinet/static/assets/images/default.jpg";
            });
        });

        $('.error-photo').bind('error', function() {
            var fieldID = $(this).attr('id');
            var photo = document.getElementById(fieldID);
            photo.src = "/myhouse24-amirb-nikitaf/cabinet/static/assets/images/default.jpg";
        });
    });
</script>
<script>


    $('.form-select').on('select2:select', function(e) {
        let isInvalidLength = document.querySelectorAll('.is-invalid');
        let invalidFeedbackLength = document.querySelectorAll('.invalid-feedback');
        if (isInvalidLength.length>0||invalidFeedbackLength>0) {
            const selectId = e.target.id;
            clearSimpleValidMessages(selectId);
        }
    });

    const inputs = document.querySelectorAll('.form-control');

    inputs.forEach(input => {
        input.addEventListener('input', event => {
            let isInvalidLength = document.querySelectorAll('.is-invalid');
            let invalidFeedbackLength = document.querySelectorAll('.invalid-feedback');
            if (isInvalidLength.length>0||invalidFeedbackLength>0) {
                const inputId = event.target.id;
                clearSimpleValidMessages(inputId);
            }
        });
    });
</script>
















