<link rel="shortcut icon" th:href="@{/assets/images/pages/favicon.png}"/>

<link rel="stylesheet" th:href="@{/assets/css/select2/select2.css}"/>

<link rel="stylesheet" th:href="@{/assets/css/select2/bootstrap.css}"/>

<link rel="stylesheet" th:href="@{/assets/css/quill/core.css}"/>

<link rel="stylesheet" th:href="@{/assets/css/quill/snow.css}"/>

<link rel="stylesheet" th:href="@{/assets/css/flatpickr/flatpickr.min.css}"/>

<!-- Library / Plugin Css Build -->
<link rel="stylesheet" th:href="@{/assets/css/core/libs.min.css}"/>

<!-- Aos Animation Css -->
<link rel="stylesheet" th:href="@{/assets/vendor/aos/dist/aos.css}"/>

<!-- Hope Ui Design System Css -->
<link rel="stylesheet" th:href="@{/assets/css/hope-ui.min.css}"/>

<!-- Custom Css -->
<link rel="stylesheet" th:href="@{/assets/css/custom.min.css}"/>

<!-- Dark Css -->
<link rel="stylesheet" th:href="@{/assets/css/dark.min.css}"/>

<!-- Customizer Css -->
<link rel="stylesheet" th:href="@{/assets/css/customizer.min.css}"/>

<!-- RTL Css -->
<link rel="stylesheet" th:href="@{/assets/css/rtl.min.css}"/>

<style>
    .form-floating-row {
        margin-left: 10px;
    }
</style>

<link rel="stylesheet" th:href="@{/assets/css/edit.css}"/>

<style>

    .photo {
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-radius: 50%;
        margin: 10px;
        z-index: 1;
    }

    .personPhoto {
        width: auto;
        height: 100%;
        margin: 0 auto;
        z-index: 1;
    }


    .bg-transparency {
        background-color: rgba(255, 255, 255, 0.5);
    }

</style>